{% extends "layout.html" %}

{% block content %}
  <h3>Title: {{page.title}}<small> (<a href="{{page.urlTitle}}/similar">Similar</a>)</small></h3>
  <h4>Written by <a href="/wiki/users/{{author._id.toString()}}">{{page.author.name}}</a></h4>
  <div>Tags: {{page.tags | join}}</div>
  <hr/>
  <div class="page-body">{% autoescape false %}{{ page.renderedContent }}{% endautoescape %}</div>
  <hr/>
  <a href="{{page.urlTitle}}/edit" class="btn btn-primary">edit this page</a>
  <a href="{{page.urlTitle}}/delete" class="btn btn-danger">delete this page</a>
{% endblock %}
