{% extends "layout.html" %}

{% block content %}
  <h3>Title: {{title}}<small> (<a href="{{urlTitle}}/similar">Similar</a>)</small></h3>
  <h4>Written by <a href="/wiki/users/{{author._id.toString()}}">{{author.name}}</a></h4>
  <div>Tags: {{tags | join}}</div>
  <hr/>
  <div class="page-body">{{content}}</div>
  <hr/>
  <a href="PLACEHOLDER_URL_TITLE/edit" class="btn btn-primary">edit this page</a>
  <a href="PLACEHOLDER_URL_TITLE/delete" class="btn btn-danger">delete this page</a>
{% endblock %}
